

.button{
    background-color: #A6CED0;
    width: 180px;
    min-height: 30px;
    margin-left: auto;
    margin-right: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;


}